.venv/
.venv1/
__pycache__/
.idea/
.vscode/
dataset/
dataset-FR/
extracted_frames/
frames/
input_video_frames/
flows/
checkpoints/
results/
resultss/
weights/
*.mp4
*.avi
*.mov
*.mkv
*.pth
*.pt
*.h5
*.csv
*.png
